

<ion-content >
  <div class="bg-image">
    <!-- <h1>Titre Principal</h1> -->
    <!-- <p>Ceci est un paragraphe de texte.</p> -->


    <div >
      <p><strong style="width: 100%;font-size: 40px;">Closer</strong></p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <p><strong style="width: 70%;font-size: 20px; color:blanchedalmond;"><br>Toute prestation en un seul clic</strong></p>

      <!-- <p style="width: 100%" > <br><br><br><br><br><br><br><br>
         Toute prestation <br><br>en un seul clic</p> -->

      <ion-button routerLink="/home" shape="round"  fill="solid" class="btn" style="color:blanchedalmond;">Commencer</ion-button>
     </div>

  </div>



</ion-content>
