<!--<app-categorie (selectedCat)='getCatItems($event)' ></app-categorie>-->
<!--<form class="d-flex">-->
<!--  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #ref>-->
<!--  <button class="btn btn-outline-success" type="submit" (click)="getProductsbySearch(ref.value)">Search</button>-->
<!--</form>-->
<!--<ul class="row row-cols-3">-->

<!--  <app-product-item *ngFor="let elt of products;"-->
<!--                    [product]="elt" >-->

<!--  </app-product-item>-->

<!--</ul>-->


