<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
<ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>

  <ion-card-content>

   <div class="wrapform" >
    <ion-item>
      <ion-icon name="person"></ion-icon>
      <ion-input type="text" [(ngModel)]="name" name="Nom" placeholder="Nom"></ion-input>

    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input type="text" [(ngModel)]="email" name="email" placeholder="Email"></ion-input>

    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="password" [(ngModel)]="password" name="*****" placeholder="Password"></ion-input>

    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="password" [(ngModel)]="passwordconfirm" name="*****" placeholder="Password confirm"></ion-input>

    </ion-item>
    
   
     <div class="sign-btn-wrap">
      <ion-button shape="round"  fill="solid" class="sign-btn" (click) = "signup()">Créer Compte</ion-button>
     </div>
      
   </div>
   
  </ion-card-content>
</ion-content>
