
ion-card-subtitle{
  color: darkblue;
}
ion-button{
  width: 90%;

}
.review {
color: black;
  font-size:medium;
  font-weight: bold;
}
.reviewcard {
  width: 100%;
}
ion-card
{
  margin-bottom: 5px !important;
  margin-top: 10px ;
}

