<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="font-size:15px">Connexion</ion-title>
  </ion-toolbar>


</ion-header>





<ion-content>

  <div>

    <ion-card-content style="margin-top: 100px; font-size:60px">

      <ion-icon name="person" ></ion-icon>

    </ion-card-content>
  </div>

  <ion-card-content>

   <div class="wrapform"  >
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input type="text" [(ngModel)]="email" name="email" placeholder="Email"></ion-input>

    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="password" [(ngModel)]="password" name="*****" placeholder="Password"></ion-input>

    </ion-item>
    <div class="password-forgot">
      <ion-button fill="clear">password forgot ?</ion-button>
     </div>
     <div class="sign-btn-wrap">
      <ion-button style="margin-top: 20px" shape="round"  fill="solid" class="sign-btn" (click) = "login()">Se connecter</ion-button>
     </div>
     <div class="password-forgot" >
      <ion-button fill="clear" href="/signup">
     Avez vous pas de compte ? Créer le !

      </ion-button>

    </div>




   </div>



  </ion-card-content>



</ion-content>
